mixin category-card(img, title, desc)
  .card-wrap
    |
    |
    span.fold
    |
    |
    a.waves-effect.category-card(href="#")
      |
      |
      span.figure
        img(
          src=img
          alt='img'
        )/
      |
      |
      span.property
        span.title-category #{title}
        |
        |
        span.desc #{desc}
        |
        |
      |
      |
    |
    |
