.parallax-wrap.dots-wrap
  .inner-parallax
    .figure
      div(data-enllax-ratio="-0.2" data-enllax-type="foreground")
        |
        |
        img.parallax-vertical.parallax-dot(src=assets+"/images/decoration/dot-deco.svg" alt="dot")/
        |
        |
      |
      |
      
